description = "Section for About"
==
<!-- Section: About -->
{% if this.theme.about_section_page %}
<section id="about" class="section section-about scrollspy">
  <div class="container blank-space">
    <div class="row">

      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="{{ 'assets/images/mail2.jpg'| theme }}">
          </div>
          <div class="card-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="col s12 m6 right-align">
        <i class="material-icons large blue-text text-darken-2">email</i>
        <h4>Email Services</h4>
        <h6>Secure, private, ad-free email for your business</h6>
        <p class="flow-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta
          sint perferendis.
        </p>
      </div>
    </div>
  </div>
</section>
{% endif %}