description = "Section for Features"
==
<!-- Section: Features -->
{% if this.theme.features_section_page %}
<section id="features" class="section section-about scrollspy">
  <div class="container blank-space">
    <div class="row">

      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            {% if this.theme.features_photo %}
            <img src="{{ this.theme.features_photo.getThumb(1280, 800, 'crop') }}" />
            {% else %}
            <img src="{{ 'assets/images/bruce-mars-unsplash1.jpg'| theme }}">
            {% endif %}
          </div>
          <div class="card-content">
            {{ this.theme.features_photo_caption }}
          </div>
        </div>
      </div>
      <div class="col s12 m6 right-align">

        <h5>{{ this.theme.features_headline }}</h5>
        <p class="flow-text">
          {{ this.theme.features_description }}
        </p>
      </div>
    </div>
  </div>
</section>
{% endif %}