description = "Section for Features"
==
<!-- Section: Features -->
{% if this.theme.features_section_page %}
<section id="features" class="section section-about scrollspy">
  <div class="container blank-space">
    <div class="row">

      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="{{ 'assets/images/bruce-mars-unsplash1.jpg'| theme }}">
          </div>
          <div class="card-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="col s12 m6 right-align">

        <h5>Work without interruption</h5>
        <p class="flow-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta
          sint perferendis.
        </p>
      </div>
    </div>
  </div>
</section>
{% endif %}