description = "Section for Galery"
==
<!-- Section: Gallery -->
{% if this.theme.galery_section_page %}
<section id="gallery" class="section section-gallery scrollspy">
  <div class="container blank-space">
    <div class="row">
      <h4 class="center">
        <span class="grey-text">Photo</span> Gallery
      </h4>

      <div class="row">
        <div class="col s12 m4">
          <img src="{{ 'assets/images/bruce-mars-unsplash1.jpg'| theme }}" alt="" class="materialboxed responsive-img">
        </div>
        <div class="col s12 m4">
          <img src="{{ 'assets/images/bruce-mars-unsplash4.jpg'| theme }}" alt="" class="materialboxed responsive-img">
        </div>
        <div class="col s12 m4">
          <img src="{{ 'assets/images/bruce-mars-unsplash5.jpg'| theme }}" alt="" class="materialboxed responsive-img">
        </div>

      </div>

      <div class="row">
        <div class="col s12 m4">
          <img src="{{ 'assets/images/bruce-mars-unsplash6.jpg'| theme }}" alt="" class="materialboxed responsive-img">
        </div>
        <div class="col s12 m4">
          <img src="{{ 'assets/images/bruce-mars-unsplash2.jpg'| theme }}" alt="" class="materialboxed responsive-img">
        </div>
        <div class="col s12 m4">
          <img src="{{ 'assets/images/bruce-mars-unsplash7.jpg'| theme }}" alt="" class="materialboxed responsive-img">
        </div>

      </div>

      <div class="row">
        <div class="col s12 m4">
          <img src="{{ 'assets/images/bruce-mars-unsplash8.jpg'| theme }}" alt="" class="materialboxed responsive-img">
        </div>
        <div class="col s12 m4">
          <img src="{{ 'assets/images/bruce-mars-unsplash9.jpg'| theme }}" alt="" class="materialboxed responsive-img">
        </div>
        <div class="col s12 m4">
          <img src="{{ 'assets/images/bruce-mars-unsplash3.jpg'| theme }}" alt="" class="materialboxed responsive-img">
        </div>

      </div>

    </div>
  </div>
</section>
{% endif %}