description = "Section for Services"
==
<!-- Section: Services -->
{% if this.theme.services_section_page %}
<section id="services" class="section section-services grey lighten-5 scrollspy">
  <div class="container blank-space">
    <div class="row">
      <div class="col s12 m6 left-align content-center">
        <h5>Get custom email @yourcompany</h5>
        <p class="flow-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea deserunt officia, dicta
          sint perferendis.
        </p>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="{{ 'assets/images/mail1.jpg'| theme }}" alt="">
          </div>
          <div class="card-content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endif %}